{{!-- <script>
    ("log", function(something) {
        console.log(something);
    });
</script> --}}
<div class="container">
    <h1>Products</h1>
    <div class="row">
        {{# each products}}
            {{!-- {{log id}} --}}
            <div class="col-md-4 col-lg-4">
                <h2><a href="/product/{{{ id }}}">{{{title}}}</a></h2>
                {{# if image}}
                    <img src="{{{ cloudinaryUrl image width="160" height="160" crop="fit" }}}" class="thumbnail">
                {{/ if}}
            </div>
        {{/ each}}        
    </div>
</div>

